#btns {
  position: fixed;
  top: 50%;
  right: 50px;
  z-index: 1000;
  transform: translateY(-50%);

  li {
    width: 10px;
    height: 10px;
    margin-bottom: 20px;
    background-color: chocolate;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;

    &.on {
      height: 60px;
      color: pink;
    }
  }
}

@media screen and (max-width: 1179px) {
  #btns {
    display: none;
  }
}
