.intro {
  &__title {
    text-align: center;

    h1 {
      position: relative;
      margin-bottom: 6rem;
      color: $black;
      font: normal 4rem/1 $font-main;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      &::after {
        bottom: -75%;
        width: 4rem;
        height: 0.1rem;
        background-color: $dark;
        content: '';
        @include pos-center-x;
      }
    }

    p {
      margin-bottom: 6rem;
      color: $dark;
      font: normal 1.7rem/1.5em $font-second;
    }
  }

  .icon__wrpper {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 4rem;
    justify-content: space-between;
    padding-top: 5rem;

    .icon__list {
      position: relative;
      width: calc((100% / 4) - 4rem);
      padding: 3rem 2rem;

      border: 2px solid #eaeaea;
      cursor: pointer;

      .icon__front {
        @include flexCenter;
        flex-direction: column;

        .icon__media {
          width: 7rem;
          height: 8rem;
          margin: 0 auto;

          img {
            object-fit: contain;
          }
        }

        .icon__text {
          text-align: center;

          h2 {
            padding: 3rem 0 2rem;
            color: $dark;
            font: normal 1.8rem/1.2em $font-main;
            letter-spacing: 0.1em;
          }

          p {
            color: $gray;
            font: 300 1.4rem/1.5em $font-second;
          }
        }
      }

      .icon__back {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        opacity: 0;
        filter: brightness(0.4);
        transition: 0.3s;
      }

      &:hover .icon__text h2 {
        color: $white;
      }

      &:hover .icon__back {
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 1179px) {
  .intro {
    .icon__wrpper {
      grid-gap: 2rem;

      .icon__list {
        width: calc(50% - 2rem);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .intro {
    .icon__wrpper {
      .icon__list {
        width: 100%;
      }
    }
  }
}
