.news {
  position: relative;
  width: 100%;
  height: 100vh;

  &__box {
    position: relative;
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 2rem;
    align-content: space-between;
    justify-content: space-between;
    width: 100%;
    height: 40vh;
    margin-top: 5rem;

    article {
      height: 48%;
      padding: 4.5rem 5rem;
      background: #eee;

      h3 {
        margin-bottom: 1rem;
        color: $dark;
        font: 700 2.2rem/1 'font-main';
        text-transform: uppercase;
      }

      .news__info {
        margin-bottom: 1.7rem;
        color: rgba(32, 32, 32, 0.6);
        font: 300 1.5rem/1 'font-main';
        font-style: italic;

        span {
          position: relative;
          margin-right: 0.5rem;
          padding-right: 0.9rem;

          &::after {
            position: absolute;
            top: 0;
            right: 0;
            font-style: normal;
            content: '|';
          }

          &:last-child {
            &::after {
              display: none;
            }
          }
        }
      }

      p {
        color: $text;
        font: 300 1.5rem/1.73em $font-second;
      }
    }
  }
}
