.video {
  position: relative;
  overflow: hidden;

  .video__box {
    position: relative;
    z-index: 100;
    flex-wrap: wrap;
    grid-gap: 2rem;
    margin-top: 5rem;
    @include flexCenter;
  }
}
