.visual {
  $visualColor: #272727;
  $visualPoint: #c5a47e;

  position: relative;
  width: 100%;
  height: 100%;

  .visual__contents {
    width: 100%;
    height: 100%;
    padding: 4rem 0;

    .inner {
      max-width: 1245px;
    }
  }

  .mySwiper {
    position: relative;
    z-index: 700;
    width: 100%;
    height: 61rem;
    margin-bottom: 4rem;
    cursor: grab;

    .swiper-slide {
      display: flex;
      width: 100%;
      font: normal 1.8rem/1 $font-main;

      .slider__block {
        width: 100%;
        height: 100%;
        text-align: left;

        &__image {
          position: relative;
          width: 70%;
          max-width: 82.5rem;
          height: 56rem;
          max-height: 56rem;
          overflow: hidden;

          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: all 1.5s ease-in-out;
          }

          &:hover img {
            transform: scale(1.1);
          }
        }

        &__text {
          position: absolute;
          top: 0;
          right: 0;
          width: 30%;
          max-width: 37.5rem;
          height: 100%;
          max-height: 56rem;
          background-color: transparent;

          .main__title {
            position: relative;
            z-index: 2;
            margin-top: 14rem;
            color: $visualColor;
            font: 500 5.5rem/1.4 $font-main;
            text-transform: uppercase;

            &:hover {
              color: #c5a47e;
            }
          }

          .sub__title {
            position: relative;
            z-index: 2;
            color: #c5a47e;
            font: 300 1.4rem/1 $font-main;
            letter-spacing: 0.9rem;
          }

          .paragraph {
            max-width: 41.3rem;
            margin: 3rem 0 3.5rem;
            color: #888;
            font: 300 1.6rem/1.75em $font-second;
          }

          .link {
            position: relative;
            display: inline-block;
            padding-left: 10rem;
            color: #c5a47e;
            font: 400 1.5rem/1 $font-main;
            letter-spacing: 5px;
            text-transform: uppercase;
            transition: all 0.3s ease-in-out;

            &:hover {
              color: #c5a47e;
            }

            &::before {
              position: absolute;
              bottom: 0.7rem;
              left: 0;
              width: 9rem;
              height: 1px;
              background: #c5a47e;
              content: '';
            }
          }

          .number {
            position: relative;
            bottom: 4rem;
            z-index: -1;
            display: block;
            width: 85%;
            margin-top: 6rem;
            color: #f4f4f4;
            font: 600 25rem/20rem $font-main;
            text-align: right;
          }

          &::before {
            position: absolute;
            left: -5rem;
            width: 20rem;
            max-width: 40.8rem;
            height: 100%;
            background-color: #f4f4f4;
            content: '';
          }
        }
      }
    }

    button {
      position: absolute;
      z-index: 2;
      width: 5rem;
      height: 5rem;
      background-color: $white;

      i {
        color: #c5a47e;
        font: normal 1.6rem/1 FontAwesome;
        transition: all 0.3s ease-in-out;
      }

      &:hover i {
        animation: arrowRight 1s infinite;
      }
    }

    button.prev {
      bottom: 5em;
    }

    button.next {
      top: 0;
      right: 20rem;
    }

    &::after {
      position: absolute;
      bottom: 0px;
      left: 0;
      z-index: 2;
      display: block;
      width: 100%;
      height: 50px;
      background: linear-gradient(to top, #fff, rgba(255, 255, 255, 0));
      content: '';
    }
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .social {
      .social__icons {
        @include flexCenter;

        li {
          padding-right: 2.3rem;
          color: $visualPoint;
          font-size: 1.6rem;
        }
      }
    }

    .copyright {
      color: #888;
      font: 300 1.4rem/1 $font-second;

      span {
        color: $visualPoint;
      }
    }
  }
}

@keyframes arrowRight {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@media screen and (max-width: 1179px) {
  .visual {
    $visualColor: #272727;
    $visualPoint: #c5a47e;

    .mySwiper {
      height: 100%;

      .swiper-slide {
        display: flex;
        width: 100%;

        .slider__block {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          height: 100%;
          text-align: left;

          &__image {
            width: 100%;
            max-width: 100%;
          }

          &__text {
            position: static;
            width: 100%;
            max-width: 100%;

            .main__title {
              margin-top: 10rem;
            }

            .number {
              position: relative;
              bottom: 4rem;
              margin-top: 6rem;
              font: 600 25rem/10rem $font-main;
            }

            &::before {
              display: none;
            }
          }
        }
      }

      button.prev {
        left: -1.5rem;
      }

      button.next {
        top: 0;
        right: 0;
      }

      &::after {
        position: absolute;
        bottom: 0px;
        left: 0;
        z-index: 2;
        display: block;
        width: 100%;
        height: 50px;
        background: linear-gradient(to top, #fff, rgba(255, 255, 255, 0));
        content: '';
      }
    }

    footer {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      .social {
        .social__icons {
          @include flexCenter;

          li {
            padding-right: 2.3rem;
            color: $visualPoint;
            font-size: 1.6rem;
          }
        }
      }

      .copyright {
        color: #888;
        font: 300 1.4rem/1 $font-second;

        span {
          color: $visualPoint;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .visual {
    .mySwiper {
      .swiper-slide {
        .slider__block {
          &__image {
            height: 23rem;
          }

          &__text {
            .main__title {
              font-size: 6rem;
            }

            .sub__title {
              font-size: 1.9rem;
            }

            .paragraph {
              font-size: 1.7rem;
            }

            .link {
              font-size: 1.6rem;
            }
          }
        }
      }
    }

    footer {
      padding: 2rem 0;

      .social {
        padding: 1rem 0;

        .social__icons {
          li {
            font-size: 1.8rem;
          }
        }
      }

      .copyright {
        padding: 1rem 0;
        color: #888;
        font: 300 1.6rem/1 $font-second;
      }
    }
  }
}
