.visual {
  $visualColor: #272727;
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 100vh;

  .visual__contents {
    width: 100%;
    height: 100%;
    padding: 4rem 0;

    .inner {
      width: 1245px;
    }
  }

  .mySwiper {
    position: relative;
    z-index: 700;
    width: 100%;
    height: 61rem;
    margin-bottom: 4rem;
    cursor: grab;

    .swiper-slide {
      display: flex;
      width: 100%;
      font: normal 1.8rem/1 $font-main;

      .slider__block {
        width: 100%;
        height: 100%;
        text-align: left;

        &__image {
          position: relative;
          width: 70%;
          max-width: 82.5rem;
          height: 56rem;
          max-height: 56rem;
          overflow: hidden;

          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: all 1.5s ease-in-out;
          }

          &:hover img {
            transform: scale(1.1);
          }
        }

        &__text {
          position: absolute;
          top: 0;
          right: 0;
          width: 30%;
          max-width: 37.5rem;
          height: 100%;
          max-height: 56rem;
          background-color: transparent;

          .main__title {
            position: relative;
            z-index: 2;
            margin-top: 14rem;
            color: $visualColor;
            font: 500 5.5rem/1.2 $font-main;
            text-transform: uppercase;

            &:hover {
              color: #c5a47e;
            }
          }

          .sub__title {
            position: relative;
            z-index: 2;
            color: #c5a47e;
            font: 300 1.4rem/1 $font-main;
            letter-spacing: 0.9rem;
          }

          .paragraph {
            max-width: 41.3rem;
            margin: 3rem 0 3.5rem;
            color: #888;
            font: 300 1.6rem/1.75em $font-second;
          }

          .link {
            position: relative;
            display: inline-block;
            padding-left: 10rem;
            color: #c5a47e;
            font: 400 1.5rem/1 $font-main;
            letter-spacing: 5px;
            text-transform: uppercase;
            transition: all 0.3s ease-in-out;

            &:hover {
              color: #c5a47e;
            }

            &::before {
              position: absolute;
              bottom: 0.7rem;
              left: 0;
              width: 9rem;
              height: 1px;
              background: #c5a47e;
              content: '';
            }
          }

          .number {
            position: relative;
            bottom: 4rem;
            z-index: -1;
            display: block;
            width: 90%;
            margin-top: 5rem;
            color: #f4f4f4;
            font: 600 25rem/20rem $font-main;
            text-align: right;
          }

          &::before {
            position: absolute;
            left: -5rem;
            width: 20rem;
            max-width: 40.8rem;
            height: 100%;
            background-color: #f4f4f4;
            content: '';
          }
        }
      }
    }

    button {
      position: absolute;
      z-index: 2;
      width: 5rem;
      height: 5rem;
      background-color: $white;

      i {
        color: #c5a47e;
        font: normal 1.6rem/1 FontAwesome;
        transition: all 0.3s ease-in-out;
      }

      &:hover i {
        animation: arrowRight 1s infinite;
      }
    }

    button.prev {
      bottom: 5em;
    }

    button.next {
      top: 0;
      right: 22rem;
    }

    &::after {
      position: absolute;
      bottom: 0px;
      left: 0;
      z-index: 2;
      display: block;
      width: 100%;
      height: 50px;
      background: linear-gradient(to top, #fff, rgba(255, 255, 255, 0));
      content: '';
    }
  }
}

@keyframes arrowRight {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
