.visual {
  width: 100%;
  height: 100vh;
  max-height: 1100px;
  background-color: $black;

  .slider__wrapper {
    display: flex;
    width: 400%;
    height: 100%;
    margin-left: 10rem;
    overflow: hidden;

    .slider {
      display: flex;
      align-items: center;
      justify-content: start;
      height: 100%;
      margin-right: 46.5rem;

      &__item {
        position: relative;

        &__pic {
          width: 100%;
          height: 60rem;
        }

        &__text {
          position: absolute;
          top: 10%;
          right: -39.5%;
          display: inline-block;
          width: 53%;

          a {
            color: $white;
            font: normal 10rem/1.1em $font-main;
            letter-spacing: 10.2px;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  .button__wrapper {
    position: absolute;
    right: 0;
    bottom: 0;

    button {
      color: #fff;
      font-size: 50px;
    }
  }
}
