<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>

    <div className="project__head">
      <div className="project__head__bg"></div>
      <figure className="project__head__img">
        <img src={`${path}/img/project-bg.png`} alt="" />
      </figure>
      <div className="project__head__text">
        <h1>projects</h1>
      </div>
    </div>

    <!-- 
    import { Link } from 'react-router-dom'
    import { useState } from 'react'
    const path = process.env.PUBLIC_URL
    let textArray = ['DESIGN', 'PHOTO', 'DEVELOPER']
    let figure = ['ScandinavianMood', 'WoodenApartment', 'MinimalisticStyle']

      const [text, setText] = useState(textArray)
      const [photos, setPhotos] = useState(figure)
      -->

    <section className="brand">
      <div className="inner">
        <div className="wrap">
          <div className="top">
            <div className="title">
              <div>
                <span>APARTMENTS</span>
                <span className="num">01</span>
              </div>
              <h1>
                Swedish apartments <br></br>in Moscow
              </h1>
            </div>
            <Link to="#" className="link">
              our next arartments<i className="fas fa-arrow-right"></i>
            </Link>
          </div>
          <div className="contents">
            <div className="left">
              {text.map((txt, index) => {
                return (
                  <article key={index}>
                    <h3>{txt}</h3>
                    <p>Lorem ipsum dolor</p>
                  </article>
                )
              })}
            </div>
            <div className="right">
              {photos.map((photo, index) => {
                let imgSrc = `${path}/img/${photo}.png`

                return (
                  <article key={index}>
                    <figure className="pic">
                      <img src={imgSrc} alt="visual 이미지" />
                    </figure>
                    <span className="num">NUM, {index}</span>
                    <span>{photo}</span>
                  </article>
                )
              })}
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
