.bg-grid {
  display: flex;

  div {
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    border-right: 1px solid #f4f4f4;

    @for $i from 1 through 6 {
      &:nth-of-type(#{$i}) {
        left: (100% / 6) * $i;
      }
    }

    &:last-child {
      border: none;
    }
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

#section__title {
  position: relative;
  z-index: 200;
  padding-bottom: 10rem;
  text-align: center;

  h1 {
    position: relative;
    padding: 0.6rem 0;
    color: $dark;
    font: 700 3.9rem/1.15em $font-main;
    letter-spacing: -0.04em;
    text-transform: uppercase;

    &::before {
      @include pos-center-x;
      top: -150%;
      width: 0.1px;
      height: 5rem;
      margin-bottom: 2rem;
      background-color: #858585;
      content: '';
    }

    &::after {
      @include pos-center-x;
      bottom: -250%;
      width: 0.1px;
      height: 5rem;
      margin-bottom: 2rem;
      background-color: #858585;
      content: '';
    }
  }

  p {
    margin: 0.1em 0 0.7rem;
    color: $black;
    font: 300 1.5rem/1.73em $font-main;
    font-style: italic;
  }
}

.slogan {
  position: absolute;
  top: 50%;
  left: 4.5rem;
  padding: 2rem 10rem;
  transform: translate(0, -50%);
  perspective: 900px;

  h1 {
    position: relative;
    display: inline-block;
    overflow: hidden;

    .title {
      position: relative;
      color: $white;
      font: 700 8rem/10rem $font-main;
      letter-spacing: -0.2rem;
      text-align: center;
      cursor: pointer;
      opacity: 0;
      animation: text_animation 0.5s 0.2s ease-in-out forwards;
    }
  }

  h2 {
    position: relative;
    overflow: hidden;

    .subtitle {
      color: $white;
      font: 700 3rem/3.5rem $font-main;
      text-align: center;
      opacity: 0;
      animation: text_animation 0.5s 0.4s ease-in-out forwards;
    }
  }
}

.wrap {
  display: block;
  clear: both;
  content: '';
}

.contents {
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.5s 0.7s ease-in-out;

  &.on {
    transform: translateY(0px);
    opacity: 1;
  }
}

.anime {
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.7s ease-in-out;

  &.on {
    transform: translateY(0px);
    opacity: 1;
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  border: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
}
