header {
  background: #0c0c0c;

  .logo {
    @include pos-center-y;
    left: 4.5rem;

    a {
      color: #fff;
      font: bold 5rem/1 $font-second;
    }
  }

  #gnb-desktop {
    @include pos-center-y;
    right: 4.5rem;
    bottom: 0;

    li {
      float: left;

      a {
        display: inline-block;
        padding: 2.2rem 3rem;
        color: #fff;
        font: 1.5rem/1 $font-main;
        letter-spacing: 1.1px;
        text-transform: uppercase;
      }
    }
  }

  .menu__bars {
    display: none;
  }

  @media screen and (max-width: 1199px) {
    .logo {
      left: 2rem;

      a {
        color: #fff;
        font: bold 5rem/1 $font-second;
      }
    }
    #gnb-desktop {
      display: none !important;
    }

    .menu__bars {
      right: 2rem;
      display: block;
      color: $white;
      cursor: pointer;
      @include pos-center-y;

      i {
        font-size: 2.5rem;
      }
    }
  }

  @media screen and (max-width: 768px) {
  }
}
