html {
  font-size: 62.5%;
}

// header 공통
header {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100px;
}

// 메인 페이지
#main__wrapper {
  position: relative;

  section {
    position: relative;
    z-index: 200;
    padding: 15rem 0;

    .inner {
      width: 1180px;
      height: 100%;
      min-height: 50rem;
      margin: 0 auto;
    }
  }
}

// 서브 페이지
main {
  .sub__visual {
    width: 100%;
    height: 50vh;
    padding: 0;

    .inner {
      > h1 {
        margin-bottom: 5rem;
        padding: 5rem 0;
        color: $dark;
        font: bold 7rem/1 $font-main;
        text-transform: uppercase;
      }

      p {
        color: $black;
        font: normal 3rem/3.5rem $font-main;
        text-align: right;
      }
    }
  }

  .contents {
    .inner {
      position: relative;
      z-index: 200;
    }
  }

  .inner {
    width: 1180px;
    height: 100%;
    min-height: 50rem;
    margin: 0 auto;

    > h1 {
      margin-bottom: 5rem;
      padding: 5rem 0;
      color: $dark;
      font: bold 7rem/1 $font-main;
      text-transform: uppercase;
    }
  }
}

// footer 공통
footer {
  position: relative;
  z-index: 200;
  width: 100%;
  padding: 5rem 0;
  border-top: 0.1rem solid #f4f4f4;

  .inner {
    width: 1180px;
    margin: 0 auto;
    text-align: center;
  }
}

@media screen and (max-width: 1179px) {
  #main__wrapper {
    section {
      padding: 8rem 0;

      .inner {
        width: 100%;
        height: 100%;
        padding: 0 4rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 55%;
  }

  .inner {
    padding: 0 3rem;
  }
}
