html {
  font-size: 62.5%;
}

header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100px;
  background: $black;
  transition: 0.5s;
}

main {
  section {
    padding: 15rem 0;

    > .inner {
      width: 1180px;
      min-height: 50rem;
      margin: 0 auto;
    }
  }
}

.sub__visual {
  width: 100%;
  height: 70vh;
  padding: 0;
  color: white;

  .inner {
    width: 100%;
    height: 100%;

    h1 {
      font: normal 8rem/10rem $font-main;
      letter-spacing: -0.4rem;
      text-transform: uppercase;
      cursor: pointer;
    }

    p {
      color: $black;
      font: normal 3rem/3.5rem $font-main;
      text-align: right;
    }
  }
}

footer {
  width: 100%;
  padding: 5rem 0;
  border-top: 0.1rem solid #ddd;

  .inner {
    width: 1180px;
    margin: 0 auto;
    text-align: center;

    p {
      color: #888;
      font: 1.2rem/1 'arial';
      text-align: center;
    }
  }
}

@media screen and (max-width: 1179px) {
  main {
    section {
      padding: 8rem 0;

      > .inner {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 0 4rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 55%;
  }

  main {
    section {
      > .inner {
        padding: 0 3rem;
      }
    }
  }
}
