footer {
   width: 100%;
   padding: 50px 0px;
   border-top: 1px solid #ddd;

   .inner {
      width: 1180px;
      margin: 0px auto;
      text-align: center;

      p {
         color: #888;
         font: 12px/1 'arial';
         text-align: center;
      }
   }
}
