header {
   width: 100%;
   background: #333;

   .inner {
      position: relative;
      width: 1180px;
      height: 100px;
      margin: 0 auto;

      h1 {
         position: absolute;
         bottom: 20px;
         left: 0;

         a {
            color: #fff;
            font: bold 24px/1 'arial';
         }
      }

      #gnb {
         position: absolute;
         right: 0;
         bottom: 0;

         li {
            float: left;

            a {
               display: inline-block;
               padding: 22px 30px;
               color: #fff;
               font: 14px/1 'arial';
            }
         }
      }
   }
}
