.content {
   padding: 150px 0;

   .inner {
      width: 1180px;
      margin: 0 auto;

      h1 {
         margin-bottom: 30px;
         color: #333;
         font: normal 30px/1 'arial';
      }
   }
}
