.about {
  .sub__visual {
    position: relative;
    background-position: center;
    @include bgImge('/public/img/about-sub-visual.jpg');

    .slogan {
      position: absolute;
      top: 50%;
      left: 4.5rem;
      padding: 2rem 10rem;
      transform: translate(0, -50%);
      perspective: 900px;

      h1 {
        position: relative;
        display: inline-block;
        overflow: hidden;

        .about__title {
          position: relative;
          color: #878787;
          font: 700 8rem/10rem $font-main;
          letter-spacing: -0.2rem;
          text-align: center;
          cursor: pointer;
          opacity: 0;
          animation: text_animation 0.5s 0.5s ease-in-out forwards;
        }
      }

      h2 {
        position: relative;
        overflow: hidden;

        .about__subtitle {
          color: #878787;
          font: 700 3rem/3.5rem $font-main;
          text-align: center;
          opacity: 0;
          animation: text_animation 0.5s 0.7s ease-in-out forwards;
        }
      }

      &::before {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        height: 100%;
        background: $black;
        animation: text_animation_before 0.5s 0.2s ease-in-out forwards;
        content: '';
      }
    }
  }

  .contents {
    .about__project {
      position: relative;
      padding: 9rem 0;

      .inner {
        min-height: 30rem;
        .text__box {
          text-align: center;

          h2 {
            font: bold 5.9rem/1.12em $font-main;
            letter-spacing: -0.2rem;
          }

          p {
            margin: 1.4rem 0 0.7rem;
            padding: 0 20%;
            font: 300 1.6rem/1.63em $font-main;
            font-style: italic;
          }
        }
      }

      .slider {
        .slider__wrapper {
          display: flex;
        }
      }
    }

    .about__info {
      padding: 10rem 0;
      background-color: #111;

      .inner {
        min-height: 0;
      }

      .info__wrapper {
        display: flex;
        flex-wrap: wrap;
        grid-gap: 12rem;

        article {
          position: relative;
          width: calc((100% / 3) - 12rem);
          color: #fff;

          span {
            position: absolute;
            top: -10rem;
            left: 0;
            color: #1e1e1e;
            font: 700 16rem/1 $font-point;
            opacity: 0.8;
          }

          h2 {
            position: relative;
            padding-bottom: 2.1rem;
            font: normal 2.7rem/1.2em $font-main;

            &::after {
              position: absolute;
              bottom: 5px;
              left: 0;
              width: 4rem;
              height: 1px;
              background-color: #fff;
              content: '';
            }
          }

          p {
            margin-top: 1.4rem;
            font: normal 1.3rem/2 $font-point;
          }
        }
      }
    }

    .about__team {
      position: relative;
      padding: 9rem 0;

      .title__wrapper {
        padding: 10rem 0;
        text-align: center;

        h2 {
          position: relative;
          font: bold 3.9rem/5rem 'Roboto Condensed', sans-serif;

          &::before {
            @include pos-center-x;
            top: -150%;
            width: 0.1px;
            height: 5rem;
            margin-bottom: 2rem;
            background-color: #858585;
            content: '';
          }

          &::after {
            @include pos-center-x;
            bottom: -250%;
            width: 0.1px;
            height: 5rem;
            margin-bottom: 2rem;
            background-color: #858585;
            content: '';
          }
        }

        p {
          font: italic 1.6rem/2rem $font-main;
          font-weight: 300;
        }
      }

      .team__wrapper {
        position: relative;
        z-index: 100;
        display: flex;
        flex-wrap: wrap;
        margin-top: 2rem;

        .team__list {
          position: relative;
          display: flex;
          width: calc(100% / 3);
          margin: 4rem 0;
          padding: 0 4rem;

          .team__info {
            position: absolute;
            bottom: 0;
            left: 2rem;
            transform: rotate(-90deg);
            transform-origin: bottom left;

            .team__name {
              display: inline-block;
              font: 700 2.2rem/1.3em $font-point;
              letter-spacing: 0.01em;
            }

            .team__position {
              position: relative;
              display: inline-block;
              padding-left: 2rem;
              color: #878787;
              font: italic 1.4rem/1.3em $font-main;
              font-weight: 300;
              letter-spacing: 0.05em;

              &::before {
                position: absolute;
                top: 0;
                left: 0.7rem;
                content: '/';
              }
            }
          }

          .team__img {
            position: relative;
            cursor: pointer;

            .team__sns {
              @include flexCenter;
              position: absolute;
              top: 0;
              left: 0;
              align-items: flex-end;
              width: 100%;
              height: 100%;

              li {
                padding: 0 1rem;
                transform: translateY(50px);
                opacity: 0;
                transition: all 0.2s;

                @for $i from 1 through 4 {
                  &:nth-of-type(#{$i}) {
                    transition-delay: (0.1s * $i) - 0.1s;
                  }
                }

                i {
                  color: #fff;
                  font-size: 2rem;
                }
              }
            }

            &:hover {
              .team__sns {
                background: linear-gradient(
                  to top,
                  rgba(0, 0, 0, 0.3),
                  rgba(0, 0, 0, 0)
                );

                li {
                  transform: translateY(-20px);
                  opacity: 1;
                }
              }
            }
          }

          &:first-child {
            transform: translateY(50%);
          }

          &:nth-of-type(3) {
            transform: translateY(50%);
          }

          &:nth-of-type(4) {
            transform: translateX(100%);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1179px) {
  .about {
    .contents {
      .about__info {
        .info__wrapper {
          article {
            width: 100%;
            p {
              padding-right: 12rem;
              font: normal 1.4rem/2 'Playfair Display', serif;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 786px) {
  .about {
    .sub__visual {
      height: 60vh;

      .slogan {
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);

        h1 {
          width: 40rem;
        }
      }
    }

    .contents {
      .about__project {
        .slider {
          .slider__wrapper {
            display: flex;
            flex-wrap: wrap;

            > div {
              width: 50%;
            }
          }
        }
      }

      .about__team {
        .team__wrapper {
          .team__list {
            width: 50%;
            &:first-child {
              transform: translateY(0);
            }

            &:nth-of-type(3) {
              transform: translateY(0);
            }

            &:nth-of-type(4) {
              transform: translateX(0);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 515px) {
  .about {
    .contents {
      .about__project {
        .inner {
          .text__box {
            margin-bottom: 2rem;
          }
        }

        .slider {
          .slider__wrapper {
            padding: 0 3rem;

            > div {
              width: 100%;
            }
          }
        }
      }

      .about__info {
        .info__wrapper {
          article {
            h2 {
              font: normal 3rem/1.2em $font-main;
            }

            p {
              padding-right: 6rem;
              font: normal 1.6rem/2 $font-point;
            }
          }
        }
      }

      .about__team {
        .team__wrapper {
          .team__list {
            width: 100%;

            figure {
              width: 325px;
            }
          }
        }
      }
    }
  }
}

@keyframes text_animation_before {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes text_animation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
