.community {
  font-size: 16px;
  background-color: #efefef;

  .inner {
    padding: 15rem 0;

    .input__box {
      width: 100%;
      margin-bottom: 50px;
      padding: 50px;
      border: 1px solid #aaa;
      input {
        width: 60%;
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #bbb;
        &::placeholder {
          font-size: 12px;
        }
      }
      textarea {
        width: 60%;
        margin-bottom: 15px;
        padding: 10px;
        border: 1px solid #bbb;
        resize: none;
      }

      button {
        width: 150px;
        height: 30px;
        margin-right: 10px;
        color: #fff;
        background: #555;
        border: none;
      }
    }

    .show__box {
      width: 100%;
      padding: 50px;
      border: 1px solid #aaa;

      article {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px;
        padding: 30px 40px;
        background: #fff;

        .post {
          width: 70%;

          h2 {
            margin-bottom: 5px;
            color: #555;
            font: bold 20px/1 'arial';
          }
          p {
            color: #777;
            font: 12px/1.2 'arial';
          }

          input {
            width: 70%;
            margin-bottom: 5px;
            padding: 5px 10px;
            background: lightcyan;
            border: 1px solid skyblue;
          }
          textarea {
            width: 70%;
            padding: 10px;
            background: lightcyan;
            border: 1px solid skyblue;
            resize: none;
          }
        }

        .btns {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          font-size: 0;

          li {
            display: inline-block;
            margin: 5px;
            color: orange;
            font: 12px/1 'arial';
            background: none;
            border: none;
            cursor: pointer;

            &:nth-of-type(2) {
              color: red;
            }
          }
        }
      }
    }
  }
}
