.gallery {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;

  .inner {
    padding: 15rem 0;
  }

  h1 {
    cursor: pointer;

    &:hover {
      color: $point;
    }
  }

  &__wrapper {
    position: relative;
    transform: translateY(200px);
    opacity: 0;
    transition: 1s;

    &.on {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &__list {
    display: flex;
    width: 100%;
  }

  &__item {
    width: calc(100% / 4);
    padding: 5rem 2rem;
    border-right: 1px solid #dedede;

    .number {
      margin-bottom: 15rem;
      transition: all 0.3s ease-in-out;
      span {
        color: #ca2f1a;
        font: normal 7rem/1 'Ruslan Display';
      }
    }

    .title__wrapper {
      width: 20rem;

      h2 {
        padding-bottom: 0.5rem;
        overflow: hidden;
        color: $dark;
        font: 600 2rem/1.3 $font-main;
        letter-spacing: 0.05rem;
        white-space: nowrap;
        text-transform: uppercase;
        text-overflow: ellipsis;
      }

      p {
        color: #444;
        font: normal 1.4rem/1 $font-main;
      }
    }

    figure {
      height: calc(6.78vw + 0.8vh * 2);
      margin: 4rem 0;
      cursor: pointer;
      filter: grayscale(1);
      transition: all 0.4s ease-in-out;

      &:hover {
        filter: grayscale(0);
      }
    }

    .date {
      color: #555;
      font: normal 1.3rem/1 $font-second;
    }

    &:first-child,
    &:nth-of-type(5) {
      border-left: 1px solid #dedede;
    }

    &:hover .number {
      transform: translateY(2rem);
    }
  }

  .search__wrapper {
    margin: 5rem 0;
    text-align: right;

    input {
      width: 20rem;
      margin-right: 1rem;
      font: normal 1.6rem/1 $font-main;
      border-bottom: 1px solid #878787;
    }
    button {
      font-size: 1.6rem;

      i {
        color: #555;
      }
    }
  }

  .loading-container,
  .loading {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 100%;
  }

  .loading-container {
    margin: 4rem auto;

    .loading {
      border: 0.2rem solid transparent;
      border-color: transparent #878787 transparent #878787;
      transform-origin: 50% 50%;
      transition: all 0.5s ease-in-out;
      animation: rotate-loading 1.5s linear 0s infinite normal;
    }

    .loading-text {
      position: absolute;
      top: 0;
      width: 10rem;
      margin-top: 4.5rem;
      color: $black;
      font: bold 1.4rem/1 $font-main;
      text-align: center;
      text-transform: uppercase;
      opacity: 0;
      animation: loading-text-opacity 2s linear 0s infinite normal;
    }

    &:hover .loading {
      border-color: transparent #e45635 transparent #e45635;
      transition: all 0.5s ease-in-out;
    }
  }

  .pop {
    @include flexCenter;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 5vw;
    background-color: rgba(0, 0, 0, 0.9);

    h1 {
      margin-bottom: 4rem;
      color: $white;
      font: normal 4rem/1 $font-point;
      letter-spacing: 0.05rem;
      text-transform: uppercase;
    }

    figure {
      width: 50%;
      height: 50rem;
    }

    span {
      position: absolute;
      top: 3vw;
      right: 5vw;
      color: #fff;
      font: normal 2rem/1 $font-main;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      cursor: pointer;
    }
  }

  @media screen and (max-width: 1179px) {
    .gallery {
      &__item {
        width: 33.3333% !important;
      }
    }
  }

  @media screen and (max-width: 739px) {
    .gallery {
      &__item {
        width: 50% !important;
      }
    }
  }

  @media screen and (max-width: 479px) {
    .gallery {
      &__item {
        width: 100% !important;
      }
    }
  }
}

@keyframes loading {
  0% {
    top: 0;
  }
  50% {
    top: 7rem;
    background: red;
    opacity: 0.5;
  }
  100% {
    top: 0;
    opacity: 0.5;
    opacity: 1;
  }
}

@keyframes rotate-loading {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loading-text-opacity {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
