.join {
  .inner {
    table {
      width: 100%;
      border-top: 2px solid #333;
      border-bottom: 2px solid #333;

      th,
      td {
        padding: 1rem 3rem;
        border-bottom: 1px solid #ddd;
      }

      th {
        width: 20%;
        color: #555;
        font: bold 1.6rem/1 'arial';
        text-align: left;
        border-right: 1px solid #ddd;

        &.btnSet {
          text-align: center;
          border-right: none;

          input[type='reset'],
          input[type='submit'] {
            width: 15rem;
            height: 3.2rem;
            margin: 1rem;
            text-align: center;
            border: 1px solid #555;
            cursor: pointer;
            transition: 0.5s;

            &:hover {
              color: #fff;
              background: #555;
            }
          }
        }
      }
      td {
        font-size: 1.4rem;

        input[type='text'],
        input[type='password'],
        select {
          width: 60%;
          padding: 1rem 2rem;
          border: 1px solid #aaa;
        }
        textarea {
          width: 60%;
          height: 15rem;
          padding: 1rem 2rem;
          border: 1px solid #aaa;
          resize: none;
        }
        label {
          margin-right: 0.5rem;
          color: #777;
          font: 1.4rem/1 'arial';
        }
        input[type='radio'],
        input[type='checkbox'] {
          margin-right: 2rem;
        }
      }
    }

    .err {
      margin-left: 1rem;
      color: rgb(245, 45, 45);
      font: 1.2rem/1 '맑은 고딕';
    }
  }
}

@media screen and (max-width: $web) {
  .join .inner table td {
    input[type='text'],
    input[type='password'],
    select {
      width: 90%;
    }
    textarea {
      width: 90%;
    }
  }
}

@media screen and (max-width: $tablet) {
  .join .inner table th {
    position: absolute;
    top: -99999px;
    opacity: 0;

    &.btnSet {
      position: relative;
      top: 0px;
      opacity: 1;
    }
  }

  .join .inner table td {
    input[type='text'],
    input[type='password'],
    select {
      width: 100%;
    }
    textarea {
      width: 100%;
    }
  }
}

@media screen and (max-width: $mobile) {
}
