.join {
  $point: #9a1824;

  section {
    .inner {
      h1 {
        margin-bottom: 5rem;
        font: bold 7rem/1 $font-main;
      }

      .step__box {
        position: relative;
        margin-bottom: 5.6rem;
        text-align: center;

        ol {
          @include flexCenter;
          align-items: center;
          justify-content: center;

          li {
            position: relative;
            margin-left: 13%;

            div {
              box-sizing: border-box;
              width: 9rem;
              height: 9rem;
              margin: 0 auto;
              color: #555b65;
              background-color: #fff;
              border: 6px solid #727b89;
              border-radius: 100px;

              p {
                margin: 1.8rem 0 0.7rem;
                font: normal 1.4rem/1 $font-second;
                text-transform: uppercase;
              }

              em {
                font: bold 2.4rem/1 $font-second;
              }
            }

            span {
              display: block;
              margin-top: 2rem;
              color: #555b65;
              font: bold 1.6rem/1 $font-second;
            }

            &:first-child {
              margin-left: 0;
            }

            &:nth-of-type(3) div {
              color: #fff;
              background-color: $point;
              border: 6px solid $point;
            }

            &:nth-of-type(3) span {
              color: $point;
            }
          }

          &::before {
            position: absolute;
            top: 4.2rem;
            left: 0;
            width: 100%;
            height: 0.6rem;
            background-color: #eee;
            content: '';
          }
        }
      }
    }
  }
}
