.youtube {
  $ponit: #9a1824;

  .sub__visual {
    position: relative;
    height: 50vh;
    overflow: hidden;

    .title {
      position: absolute;
      left: 50%;
      bottom: 20%;
      transform: translate(-50%, 20%);
      font: bold 12rem/1 $font-main;
      letter-spacing: 0.05rem;
      color: $white;
      -webkit-text-stroke: 2px $ponit;
      z-index: 50;
    }


    figure {
      position: absolute;
      left: 0;
      top: -45%;
      filter: grayscale(100%) contrast(80%);
      width: 100%;
      overflow: hidden;
    }
  }

  .youtube__contents {
    height: 100vh;
    padding: 0;
    background-image: url('/public/img/youtube-bg.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;

    .mySwiper {
    
    .swiper-wrapper {

      .swiper-slide {
        width: 30rem;
        height: 65rem;
        padding: 0 2rem;

        article {
          margin-top: 15rem;

          figure {
            position: relative;
            display: block;
            width: 100%;
            height: 20rem;
            margin-bottom: 2rem;
            overflow: hidden;
          } 

                                    
          .text-box {
            .title {
              h2 {
                display: inline-block;
                width: 100%;
                margin-bottom: 1rem;
                font-size: 2.2rem;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                color: $white; 
              }
    
              .date {
                font-size: 1.4rem;
                color: $white; 
              }
            }

            p {
              padding: 2rem 0;
              font-size: 1.4rem;
              color: $white; 
            }
          }
        }


        // article {
        //   // figure {
        //   //   position: relative;
        //   //   display: block;
        //   //   width: 100%;
        //   //   height: 20rem;
        //   //   margin-bottom: 20px;
        //   //   overflow: hidden;
    
        //   //   img {
        //   //     width: 100%;
        //   //     height: 100%;
        //   //     object-fit: corver;
        //   //     cursor: pointer;
        //   //     // filter: grayscale(80%) contrast(80%);
        //   //   }
        //   } 
        }
      }
    }
  }
  
  .pop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    padding: 5vw;
    background-color: rgba(0, 0, 0, 0.9);

    span {
      position: absolute;
      top: 3vw;
      right: 5vw;
      color: #fff;
      font: bold 14px/1 'arial';
      cursor: pointer;
    }
  }
}