.youtube {
  $ponit: #9a1824;

  .sub__visual {
    @include bgImge('/public/img/youtube-sub-visual.jpg');
    position: relative;
    overflow: hidden;
    background-position: 0 50%;

    figure {
      position: absolute;
      top: -45%;
      left: 0;
      width: 100%;
      overflow: hidden;
      filter: grayscale(100%) contrast(80%);
    }
  }

  &__contents {
    height: 100vh;
    padding: 0;
    background-image: url('/public/img/youtube-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    .mySwiper {
      .swiper-wrapper {
        .swiper-slide {
          position: relative;
          top: 50%;
          width: 50rem;
          height: 60rem;

          article {
            width: 100%;
            height: 30rem;
            margin-top: 15rem;

            figure {
              position: relative;
              display: block;
              width: 100%;
              height: 25rem;
              margin-bottom: 2rem;
              overflow: hidden;
            }

            .text-box {
              text-align: center;

              .title {
                h2 {
                  display: inline-block;
                  width: 100%;
                  height: 3rem;
                  overflow: hidden;
                  color: $white;
                  font: normal 2.5rem/1 $font-point;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                }
              }

              p {
                padding: 2rem 1.5rem;
                color: #4c4c4c;
                font: normal 1.5rem/1.5em $font-main;
              }
            }
          }
        }
      }
    }
  }

  .pop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    padding: 5vw;
    background-color: rgba(0, 0, 0, 0.9);

    span {
      position: absolute;
      top: 3vw;
      right: 5vw;
      color: #fff;
      font: bold 16px/1 'arial';
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}
